*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;

}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #242728;
    border: 1px solid #242728;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #242728;
    background: #242728;
    transition: 1s;
    color: white;

}

.option{
    padding-top: 150px;
    padding-bottom: 50px;
    background-size: cover;
  }
  
.option .container-box{
      display: flex;
      padding: 100px;
      justify-content: space-between;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      gap:1.5rem;
  }
  
.option .container-box .box{
      padding:4rem;
      width: 6cm;
      text-align: center;
      border:var(--border);
      border-radius: 50px;
      box-shadow: black 0px 5px 10px;
  }
  
.option .container-box .box .logbox{
    width: 4cm;
}
